body{
	margin: 0em;
	font-family: 'PT Sans', sans-serif;
	font-family: 'PT Sans', sans-serif;
}

header{
	float:right;
	width: 75%;
	height: 20em;
	background-image: url(moutaine.jpg!d);
}	
h1{
	margin-left: 3em;
	color: 	white;
	letter-spacing: 1em;
}
header p{
	margin-left: 4em;
	font-size: 1.5em;
	color: 	white;
	letter-spacing: 1em;
}

nav{
	width: 75%;
	height: 5rem;
	float:right;
	margin-top: 4rem;
	margin-bottom: 1rem;
	text-align: center;
	background-color: white;
}

a:hover{
	background-color: #696969;
	color:white;
}

a{
	background-color: #008B8B;
	border-radius: 10%;
	text-decoration: none;
	margin: 5em;
	padding: 1em;
	color: white;
	text-orientation: center;
}

.left{
	top:0;
	display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
	width: 25%;
	height: 140rem;
	float: left;
	background-color: #DCDCDC;
	}

img {
	width: 17em;
	height: 25em;
	margin: 7em;
}
.left a{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.info{
	background-color: #696969;
	border-radius: 10%;
	color:white;
	margin-left: 2rem;
}
.info a {
	text-decoration: none;
}
/*
.net{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height:6em;
	padding:10vw;
}*/

.right{
	width: 68%;
	float:right;
	display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
}
.right article{
	background-color: #DCDCDC; 
	border-radius: 5%;
	margin-right: 10em; 
	margin-top:4em;
	padding: 2em;	
}
#rating{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#rating ul{
	padding-right: 15em;
}
.checked{
	color: #008B8B;
}
.zero{
	color:white;
}
td{
	padding-right: 15em;
}

h4{
	letter-spacing: 0.3em;
}
#net{
	display: flex;
	flex-direction: row;
	justify-content: center;	
}
#net a{
	height: 3rem;
    width: 3rem; 
    margin: 2rem 1rem; 
}
.up{
    color: #33313b;
    cursor:pointer;
    display:block;
    position: fixed;
    margin: 2rem;
    bottom: 0;
    right:0;

}
.up:hover{
    color:#008B8B;
}

@media screen and (max-width:1400px){
header,.left{
		float: none;
		width: 100%;
	}
.left{
	height:30rem ;
}	
nav{
	width: 100%;
	height: 5vh;
	float:right;
	margin:5vh;
	display: block;	
	
}
img {
	width: 15em;
	height: 23em;
	margin: 5em;
}
a{
 margin: 1em 4em 1em 4em;	
}
.right{
	margin-top: 0;
	width: 100%;
}
.right article{
	background-color: #DCDCDC; 
	margin-top:4em;
	margin-right: 0;
	padding: 2em;
	border-radius: 0%;
}
#rating{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;	
}
#rating ul{
	padding-right: 2em;
}
td{
	padding-right: 2em;
}

}